<section class = "dragon-experience-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class = "card-trip dragon-info">
          <h1 class="font"> <%= @dragon.name %> </h1>
          <p> Owner: <%= @dragon.user.first_name %> </p>
          <p> Species: <%= @dragon.species %> </p>
          <p> Speed: <%= @dragon.speed %> </p>
          <p> Armour: <%= @dragon.armour %> </p>
          <p> Fire power: <%= @dragon.fire_power %> </p>
        </div>
      </div>
      <div class="col">
        <%= cl_image_tag @dragon.photo.key, width: 600, crop: :fill %>
        <%# <%= image_tag "dragon_toothless.png", style: 'max-height:600px;width:auto;' %>
      </div>
    </div>
  </div>
</section>

  <div class="container">
    <div class="row">
      <div class="col">
        <p class = text-start> <%= @dragon.description %> </p>
      </div>
      <div class="col" flex-basis: 70% >
        <div class = card-trip>
          <p> The booking form goes </p>
        </div>
      </div>
    </div>
  </div>
