<section class = "dragon-experience-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class = card-trip>
          <h1> <%= Dragon.first.name %> </h1>
          <p> Owner: <%= Dragon.first.user.first_name %> </p>
          <p> Species: <%= Dragon.first.species %> </p>
          <p> Speed: <%= Dragon.first.speed %> </p>
          <p> Armour: <%= Dragon.first.armour %> </p>
          <p> Fire power: <%= Dragon.first.fire_power %> </p>
        </div>
      </div>
      <div class="col">
        <%= image_tag "dragon_toothless.png", style: 'max-height:600px;width:auto;' %>
      </div>
    </div>
  </div>
</section>

  <div class="container">
    <div class="row">
      <div class="col">
        <p class = text-start> <%= Dragon.first.description %> </p>
      </div>
      <div class="col" flex-basis: 70% >
        <div class = card-trip>
          <h1> <%= Dragon.first.name %> </h1>
          <p> Owner: <%= Dragon.first.user.first_name %> </p>
          <p> Species: <%= Dragon.first.species %> </p>
          <p> Speed: <%= Dragon.first.speed %> </p>
          <p> Armour: <%= Dragon.first.armour %> </p>
          <p> Fire power: <%= Dragon.first.fire_power %> </p>
        </div>
      </div>
    </div>
  </div>
