<%= simple_form_for([dragon, booking]) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :departure_location %>
  <%= f.input :arrival_location %>
  <div class="form-submit-button">
    <%= f.submit class: "btn-primary" %>
  </div>
<% end %>
