<% if @booking.status == "pending" %>
  <p>Your request to take <%= @booking.dragon.name %> to <%= @booking.arrival_location %> has been status submitted!</p>
<% elsif @booking.status == "accepted" %>
  <p>Your request to take <%= @booking.dragon.name %> to <%= @booking.arrival_location %> has been approved!</p>
<% else %>
  <p> Your request to take <%= @booking.dragon.name %> to <%= @booking.arrival_location %> has been rejected! </p>
<% end %>
